#
#  Tempirature sample configuration
#

# xively API key
XIVELY_API_KEY = ""

# xively notification URL
# e.g. https://api.xively.com/v2/feeds/3141592653589/datastreams/InterestingThingToMeasure/datapoints
XIVELY_POST_URL = ""

# update interval in seconds
XIVELY_UPDATE_INTERVAL = 5

# analog pin connected to the termistor
THERMISTOR_PIN = 0

# the not so analog (digital) pin connected to the relay board
RELAY_PIN = 2

# serial device
SERIAL_DEVICE = "/dev/ttyUSB0"

# temperature correction for the thermistor
CORRECTION = -4
